.wrapper {
  background-color: transparent;

  + .wrapper {
    margin-left: 25px;
  }
}

.icon {
  font-size: 2rem;
}

.iconOnly {
  color: var(--text-primary-color);

  &:hover {
    cursor: pointer;
    color: var(--white);
  }
  + .circle.iconOnly {
    margin-left: 10px;
  }
}

//type
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--alpha-color);

  .icon {
    color: var(--setting-icon-color);
  }

  &:hover {
    cursor: pointer;
    color: var(--white);
    filter: brightness(0.9);
  }
}
