.wrapper {
  max-width: 535px;
  width: 100%;
  position: relative;
  margin: 0 20px;
}

.search {
  height: 40px;
  border-radius: 20px;
  background-color: var(--alpha-color);
  color: var(--search-text);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
}

.showResult {
  &:focus-within {
    background-color: var(--secondary-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.title {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 8px 10px;
}

.search-result {
  width: 535px;
  max-height: calc(100vh - 180px);
  padding: 13px 10px;
  color: var(--text-primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: scroll;
}

.search-btn,
.close-btn {
  font-size: 2rem;
  padding: 4px;
  margin: 0 10px;

  &:hover {
    cursor: pointer;
    color: var(--primary-color);
  }
}

input {
  color: var(--text-secondary-color);
  flex: 1;
  font-size: 1.5rem;
  line-height: 34px;
  background-color: transparent;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-secondary-color);
  opacity: 1; /* Firefox */
}

.close-btn {
  font-size: 1.3rem;
}
