.wrapper {
  height: 100vh;
  position: relative;
}

.content {
  background-color: var(--alpha-color);
  margin-top: var(--header-height);
  width: calc(100% - var(--sidebar-width));
  padding: 0 var(--default-padding);
  position: absolute;
  right: 0;
}
