.wrapper {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  color: var(--text-primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
}
