@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  /* color */
  --text-primary-color: #fff;
  --text-secondary-color: #ffffff80;
  --primary-color: #282828;
  --secondary-color: #1e1e1e;
  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);

  --white: #fff;
  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-primary-color);
  background-image: var(--bg-img);

  background-size: 1920px auto;
}

/* Other */
/* a */
a[href] {
  text-decoration: none;
}

/* input, button */
button,
input {
  border: none;
  outline: none;
}

/* sroll */

body ::-webkit-scrollbar {
  width: 9px;
  overflow: hidden;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 20px var(--white);
}

/* themes */
body[data-theme="Dark"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;
  --primary-color: #1e1e1e;
  --secondary-color: #292929;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 5%);
  --white: #fff;
  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Purple"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;

  --primary-color: #170f23;
  --secondary-color: #432275;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;
  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Blue Light"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;

  --primary-color: #274a78;
  --secondary-color: #1d375a;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;
  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Pink"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;
  --primary-color: #800064;
  --secondary-color: #a22687;
  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;
  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Green"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;
  --primary-color: #124534;
  --secondary-color: #126e54;
  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;
  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="XoneFM"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;

  --primary-color: #1e1e1e;
  --secondary-color: #282828;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;

  --bg-img: url("../../assets/images/background/xone-bg.jpg");
  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Zing"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;

  --primary-color: #37075d;
  --secondary-color: #6a39af;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;

  --bg-img: url("../../assets/images/background/zma.svg");

  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Eiffel"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #ffffff80;

  --primary-color: #37075d;
  --secondary-color: #6a39af;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;

  --bg-img: url("../../assets/images/background/eiffel.jpg");

  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Lisa"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #696969;

  --primary-color: #f9dbdb;
  --secondary-color: #fff8f8;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;

  --bg-img: url("../../assets/images/background/lisa.jpg");

  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Jennie"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #696969;

  --primary-color: #f9dbdb;
  --secondary-color: #fff8f8;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;

  --bg-img: url("../../assets/images/background/jennie.jpg");

  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Jisoo"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #696969;

  --primary-color: #f9dbdb;
  --secondary-color: #fff8f8;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;

  --bg-img: url("../../assets/images/background/jisoo.jpg");

  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}

body[data-theme="Rose"] {
  /* color */
  --text-primary-color: #d8d8d8;
  --text-secondary-color: #696969;

  --primary-color: #f9dbdb;
  --secondary-color: #fff8f8;

  --bg-hover-color: rgb(255 255 255 / 10%);
  --alpha-color: rgb(255 255 255 / 10%);
  --white: #fff;

  --bg-img: url("../../assets/images/background/rose.jpg");

  /* size */
  --header-height: 70px;
  --sidebar-width: 240px;
  --default-padding: 59px;
}
